# Main EDA notebook

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None

In [ ]:
# Notes
# tables dealt with: 2, 3, 5
# possible merges with 6 and 7 by nr zbiornika
# possible merge with table 1 by nr_licznika
# then possible merge with table 4 by numer pojazdu

In [66]:
zbiorniki02_raw = pd.read_excel("data/02zbiorniki.xlsx")
liczniki03_raw = pd.read_excel("data/03liczniki.xlsx")
osoby05_raw = pd.read_excel("data/05osoby.xlsx")

In [76]:
# zmiana nazw kolumn
zbiorniki02 = zbiorniki02_raw.drop(['Lp.'], axis = 1)
c = zbiorniki02.columns
zbiorniki02 = zbiorniki02.rename(columns = {c[0]: 'nr_zbiornika',
                              c[1]: 'osoba',
                              c[2]: 'adres_licznika',
                              c[3]: 'adres_zamieszkania'})

In [77]:
# zmiana nazw kolumn
liczniki03 = liczniki03_raw.drop(['Lp.'], axis = 1)
c = liczniki03.columns
liczniki03 = liczniki03.rename(columns = {c[0]: 'nr_licznika',
                              c[1]: 'osoba',
                              c[2]: 'adres_licznika',
                              c[3]: 'adres_zamieszkania'})

In [78]:
# zmiana nazw kolumn
osoby05 = osoby05_raw.drop(['Lp.'], axis = 1)
c = osoby05.columns
osoby05 = osoby05.rename(columns = {c[0]: 'nr_zbiornika',
                              c[1]: 'adres_licznika',
                              c[2]: 'liczba_osob_zameldowanych',
                              c[3]: 'liczba_osob_smieci'})

In [79]:
# łączenie tabel 2 i 3
liczniki_zbiorniki = zbiorniki02.set_index(['adres_licznika', 'osoba', 'adres_zamieszkania'])\
                    .join(liczniki03.set_index(['adres_licznika', 'osoba', 'adres_zamieszkania']))\
                    .reset_index()

# drop kolumn adres zamieszkania skoro wszedzie jest taki sam jak adres licznika
liczniki_zbiorniki = liczniki_zbiorniki.drop('adres_zamieszkania', axis = 1)

In [81]:
# wyliczenie liczby osób jako średniej z zameldowanych i bazy śmieciowej
# i wyrzucenie tych kolumn
osoby05['liczba_osob'] = (osoby05['liczba_osob_zameldowanych'] + osoby05['liczba_osob_smieci'])/2
osoby05 = osoby05.drop(['liczba_osob_zameldowanych', 'liczba_osob_smieci'], axis = 1)

In [84]:
# łączenie tabel 2 i 3 i osob przy danym adresie
liczniki_z_osobami = liczniki_zbiorniki.set_index(['adres_licznika', 'nr_zbiornika'])\
                    .join(osoby05.set_index(['adres_licznika', 'nr_zbiornika']))\
                    .reset_index()

In [85]:
liczniki_z_osobami

,adres_licznika,nr_zbiornika,osoba,nr_licznika,liczba_osob
0,Roosevelta 164,Z00777,Katarzyna Gątarska,H21KA008618,4.0
1,Paczkowskiego 6,Z00025,Sylwia Gadzińska,C18UA124562,2.5
2,Kłeckoska 84,Z00666,Sylwia Popłek,H21KA003461,3.0
3,Zamiejska 13,Z00523,Zbigniew Kopczyński,H21KA012115,10.0
4,Kłeckoska 96 A,Z00021,Monika Jeżewska-Andraszyk,C19UA113683,2.0
...,...,...,...,...,...
140,Wierzbiczany 71,Z00536,Zosia Janas,C17UA110048,3.0
141,Akacjowa 3,Z00714,Mikołaj Serwatka,H21KA009918,2.0
142,Myśliwiecka 25,Z00118,Wacław Jeż,C18UA00362,6.0
143,Poznańśka 245,Z00954,Henryk Wąs,H21KA006667,4.5
144,Kiszkowska 4,Z00432,Luiza Kręc,H21KA014422,2.5