# Notebook with final version of script providing data to backend

In [98]:
import pandas as pd
import numpy as np
from typing import List
from datetime import datetime as dt
import re
import random

"""
generate_map_datapoints_df() - generuje DataFrame z wszystkimi datapointami na mapie

create_map_datapoints(df) - tworzy słownik z DataFrame'a 'df' z wszystkimi obiektami na mapie
Słownik jako key zawiera adresy, a jako value zawiera kolejny słownik z danymi,
np. '[Akacjowa 3': {'nr_zbiornika': 'A41312', 'st_oddanej_do_pobranej': 0.6265984654731442}, ...]


generate_quotient_timeseries_df() - generuje DataFrame z danymi z timeseries z deklarowanych ścieków
i pobieranej wody. Ten DataFrame jest potrzebny do dwóch funkcji poniżej


graph_quotient_timeseries(df, address) - generuje graf dla punktu o adresie 'address' z DataFrame'a 'df'
z stosunkiem wody oddanej do pobranej
Przykładowy graf ma formę: 
{
    'name': 'quotient_timeseries',
    'title': 'Stosunek wody zadeklarowanej jako ścieki do pobranej na przestrzeni miesięcy',
    'data': [
                {'date': '2021-11', 'quotient': 0.625}, 
                {'date': '2021-10', 'quotient': 0.66875}, 
                {'date': '2021-09', 'quotient': 0.6774193548387096}, 
                {'date': '2021-08', 'quotient': 0.7096774193548387}, 
                {'date': '2021-07', 'quotient': 0.7034482758620689}, 
                {'date': '2021-06', 'quotient': 0.7310344827586207}
            ]
}

graph_amount_timeseries(df, address) - generuje graf dla punktu o adresie 'address' z DataFrame'a 'df'
z iloscia wody pobranej i oddanej
Przykładowy graf ma formę: 
{
    'name': 'quotient_timeseries',
    'title': 'm^3 wody zadeklarowanej jako ścieki i pobranej na przestrzeni miesięcy',
    'data': [
                {'date': '2021-11', 'pobrana': 16.5, 'deklarowana': 10.0},
                {'date': '2021-10', 'pobrana': 16.5, 'deklarowana': 9.6},
                {'date': '2021-09', 'pobrana': 16.0, 'deklarowana': 9.6},
                {'date': '2021-08', 'pobrana': 16.0, 'deklarowana': 8.5},
                {'date': '2021-07', 'pobrana': 15.0, 'deklarowana': 11.1},
                {'date': '2021-06', 'pobrana': 15.0, 'deklarowana': 10.2}
            ]
}

get_details(address) - zwraca listę detali dla danego adresu
Przykładowe szczegóły:
[
    {'name': 'nr_pojazdu', 'description': 'Numer pojazdu', 'value': 'PGN554HE'},
    {'name': 'osoba','description': 'Właściciel nieruchomości','value': 'Sylwia Popłek'},
    {'name': 'data_odbioru','description': 'Data odbioru ścieków','value': Timestamp('2021-11-02 00:00:00')},
    {'name': 'godzina_odbioru','description': 'Godzina odbioru ścieków','value': 10.5},
    {'name': 'godzina_zrzutu','description': 'Godzina zlewu ścieków','value': 12.0},
    {'name': 'nazwa_firmy','description': 'Nazwa firmy','value': 'F. U. H. EKO-TRANS-Kop Usługi Asenizacyjne Mieczysław Ziętara '}
]

"""


pd.options.mode.chained_assignment = None  

def generate_map_datapoints_df():
    waterConsumption_raw = pd.read_excel("data/waterConsumption.xlsx")
    
    # counting mean values to account for zeros
    
    for i in range(143):
        if waterConsumption_raw.iloc[i, 6] != 0:
            for j in range(17):
                temp = waterConsumption_raw.iloc[i, 6 + j * 2]
                waterConsumption_raw.iloc[i, 6 + j * 2] = temp / 2
                waterConsumption_raw.iloc[i, 6 + j * 2 + 1] = temp / 2
        else:
            for j in range(17):
                temp = waterConsumption_raw.iloc[i, 6 + j * 2 + 1]
                waterConsumption_raw.iloc[i, 6 + j * 2] = temp / 2
                waterConsumption_raw.iloc[i, 6 + j * 2 + 1] = temp / 2
        waterConsumption_raw.iloc[i, 40] = waterConsumption_raw.iloc[i, 39]
    
    # zmiana nazw kolumn
    waterConsumption = waterConsumption_raw.drop(['Lp.'], axis = 1)
    c = waterConsumption.columns
    waterConsumption = waterConsumption.rename(columns = {c[0]: 'nr_licznika',
                                                          c[1]: 'osoba',
                                                          c[2]: 'adres_licznika',
                                                          c[3]: 'zuzycie_wody',
                                                          c[4]: 'srednie_zuzucie_wody'})

    for i in range(5, len(c)-1):
        waterConsumption = waterConsumption.rename(columns = 
                                                   {c[i]: dt.strptime(str(c[i]), '%Y-%m').strftime('%Y-%m')})
    
    declaredSewage_raw = pd.read_excel("data/declaredSewage.xlsx")
    declaredSewage = declaredSewage_raw.drop(['Lp.'], axis = 1)
    c = declaredSewage.columns
    declaredSewage = declaredSewage.rename(columns = {c[0]: 'nr_zbiornika',
                                                      c[1]: 'adres_licznika',
                                                      c[2]: 'data_odbioru',
                                                      c[3]: 'deklaracja_mieszkaniec',
                                                      c[4]: 'deklaracja_firma',
                                                      c[5]: 'pobrana_woda',
                                                      c[6]: 'pobrana_woda_ogrodowa',
                                                      c[7]: 'nr_pojazdu'})
    
    # drop useless columns
    waterConsumption = waterConsumption.drop(columns = ['nr_licznika', 'osoba', 'zuzycie_wody'])
    waterConsumption= waterConsumption.iloc[: , :2]
    
    declaredSewage = declaredSewage.drop(columns = ['data_odbioru', 'pobrana_woda', 
                                                        'pobrana_woda_ogrodowa', 'nr_pojazdu'])
    
    declaredSewage['srednia_deklaracji'] = \
                   (declaredSewage['deklaracja_mieszkaniec'] + declaredSewage['deklaracja_firma'])/2
                   
    declaredSewage = declaredSewage.drop(columns = ['deklaracja_firma', 'deklaracja_mieszkaniec'])
    
   
    df = pd.DataFrame()
    
    df['adres'] = waterConsumption['adres_licznika']
    df['nr_zbiornika'] = declaredSewage['nr_zbiornika']
    
    df['st_oddanej_do_pobranej'] = declaredSewage['srednia_deklaracji'] / waterConsumption['srednie_zuzucie_wody']
    
    
    return df

                                                    
def create_map_datapoints(df):
    data_dict = {}
    for index, row in df.iterrows():
        row_dict = {}

        if not np.isnan(row['st_oddanej_do_pobranej']): 
            row_dict['nr_zbiornika'] = row['nr_zbiornika']       
            
            row_dict['st_oddanej_do_pobranej'] = row['st_oddanej_do_pobranej']        

        data_dict[row['adres']] = row_dict
    return data_dict



def generate_quotient_timeseries_df():
    waterConsumption_raw = pd.read_excel("data/waterConsumption.xlsx")
    
    # counting mean values to account for zeros
    
    for i in range(143):
        if waterConsumption_raw.iloc[i, 6] != 0:
            for j in range(17):
                temp = waterConsumption_raw.iloc[i, 6 + j * 2]
                waterConsumption_raw.iloc[i, 6 + j * 2] = temp / 2
                waterConsumption_raw.iloc[i, 6 + j * 2 + 1] = temp / 2
        else:
            for j in range(17):
                temp = waterConsumption_raw.iloc[i, 6 + j * 2 + 1]
                waterConsumption_raw.iloc[i, 6 + j * 2] = temp / 2
                waterConsumption_raw.iloc[i, 6 + j * 2 + 1] = temp / 2
        waterConsumption_raw.iloc[i, 40] = waterConsumption_raw.iloc[i, 39]
    
    # zmiana nazw kolumn
    waterConsumption = waterConsumption_raw.drop(['Lp.'], axis = 1)
    c = waterConsumption.columns
    waterConsumption = waterConsumption.rename(columns = {c[0]: 'nr_licznika',
                                                          c[1]: 'osoba',
                                                          c[2]: 'adres_licznika',
                                                          c[3]: 'zuzycie_wody',
                                                          c[4]: 'srednie_zuzucie_wody'})

    for i in range(5, len(c)-1):
        waterConsumption = waterConsumption.rename(columns = 
                                                   {c[i]: dt.strptime(str(c[i]), '%Y-%m').strftime('%Y-%m')})
    
    declaredSewage_raw = pd.read_excel("data/declaredSewage.xlsx")
    declaredSewage = declaredSewage_raw.drop(['Lp.'], axis = 1)
    c = declaredSewage.columns
    declaredSewage = declaredSewage.rename(columns = {c[0]: 'nr_zbiornika',
                                                      c[1]: 'adres_licznika',
                                                      c[2]: 'data_odbioru',
                                                      c[3]: 'deklaracja_mieszkaniec',
                                                      c[4]: 'deklaracja_firma',
                                                      c[5]: 'pobrana_woda',
                                                      c[6]: 'pobrana_woda_ogrodowa',
                                                      c[7]: 'nr_pojazdu'})
    
    # drop useless columns
    waterConsumption = waterConsumption.drop(columns = 
                                             ['nr_licznika', 'osoba', 'zuzycie_wody','srednie_zuzucie_wody'])
    
    declaredSewage = declaredSewage.drop(columns = ['nr_zbiornika', 'data_odbioru', 'deklaracja_mieszkaniec', 
                                       'deklaracja_firma', 'pobrana_woda', 'pobrana_woda_ogrodowa', 'nr_pojazdu'])
    
    waterConsumption= waterConsumption.iloc[: , :7]
    declaredSewage = declaredSewage.iloc[:, :7]
    
    df = pd.DataFrame()
    
    df['adres'] = waterConsumption['adres_licznika']
    
    for col_cons, col_decl in zip(waterConsumption.columns[1:], declaredSewage.columns[1:]):
        df[col_cons] = declaredSewage[col_decl] / waterConsumption[col_cons]
        df["pobrana_" + col_cons] =  waterConsumption[col_cons]
        df["deklarowana_" + col_cons] = declaredSewage[col_decl] 
        
    return df

def graph_quotient_timeseries(df, address):
    row = df[df['adres'] == address]
    
    graph = {}
    graph['name'] = 'quotient_timeseries'
    graph['title'] = "Stosunek zadeklarowanych ścieków do pobranej wody"
    
    data_list = []
    
    for col in row.columns[1:]:
        # if column is year and not pobrana or deklarowana
        if re.search("^20.*$", col):
            temp_dict = {}

            temp_dict['date'] = col
            temp_dict['quotient'] = float(row[col])

            data_list.append(temp_dict)
        
        
    graph['data'] = data_list
    
    return graph

def graph_amount_timeseries(df, address):
    row = df[df['adres'] == address]
    
    graph = {}
    graph['name'] = 'amount_timeseries'
    graph['title'] = "Zadeklarowane ścieki i pobrana woda"
    
    data_list = []
    
    for col in row.columns[1:]:
        if re.search("^20.*$", col):
            temp_dict = {}
            temp_dict['date'] = col
            temp_dict['pobrana'] = float(row["pobrana_" + col])
            temp_dict['deklarowana'] = float(row["deklarowana_" + col])
            
            data_list.append(temp_dict)

        
    graph['data'] = data_list
    
    return graph


def get_details(address) -> List[dict]:
    
    sewage_reception_raw = pd.read_excel("data/sewageReception.xlsx")
    
   
    # zmiana nazw kolumn
    sewage_reception = sewage_reception_raw.drop(['Lp.'], axis = 1)
    c = sewage_reception.columns
    sewage_reception = sewage_reception.rename(columns = {c[0]: 'osoba',
                                                      c[1]: 'adres_licznika',
                                                      c[2]: 'nr_koncesji',
                                                      c[3]: 'nr_pojazdu',
                                                      c[4]: 'ilosc_sciekow',
                                                      c[5]: 'data_odbioru',
                                                      c[6]: 'godzina_odbioru',
                                                      c[7]: 'godzina_zrzutu',
                                                      c[8]: 'nr_zbiornika',})
    
    
    # wypełnij nan'y zerami
    sewage_reception = sewage_reception.fillna(0)
    
    # uzupełnij zerowe godziny i daty zrzutu ścieków oraz nr rejestracyjne
    for i in range(1, sewage_reception.shape[0]):
        
        if sewage_reception.iloc[i, 2] == 0:
            sewage_reception.iloc[i, 2] = sewage_reception.iloc[i - 1, 2]
        if sewage_reception.iloc[i, 3] == 0:
            sewage_reception.iloc[i, 3] = sewage_reception.iloc[i - 1, 3]
        if sewage_reception.iloc[i, 4] == 0:
            sewage_reception.iloc[i, 4] = sewage_reception.iloc[i - 1, 4] 
        if sewage_reception.iloc[i, 7] == 0:
            sewage_reception.iloc[i, 7] = sewage_reception.iloc[i - 1, 7]
    
    sewage_reception = sewage_reception.drop(columns = ['nr_koncesji', 'ilosc_sciekow', 'nr_zbiornika'])
    
    # add company name by joining companies.xlsx by no. of vehicle
    companies_raw = pd.read_excel("data/companies.xlsx")
    
   
    # zmiana nazw kolumn
    companies = companies_raw.drop(['Lp.'], axis = 1)
    c = companies.columns
    companies = companies.rename(columns = {c[0]: 'nr_koncesji',
                                          c[1]: 'nazwa_firmy',
                                          c[2]: 'adres_firmy',
                                          c[3]: 'nr_pojazdu',
                                          c[4]: 'pojemnosc_wozu'
                                           })
    
    
    companies = companies.drop(columns = ['nr_koncesji', 'adres_firmy', 'pojemnosc_wozu'])
    
    details = sewage_reception.set_index(['nr_pojazdu'])\
                    .join(companies.set_index(['nr_pojazdu']))\
                    .reset_index()
    
    
    row = details[details['adres_licznika'] == address].iloc[0]

    list_details = []
    
    info_dict = {}
    info_dict['name'] = 'nr_pojazdu'
    info_dict['description'] = "Numer pojazdu"
    info_dict['value'] = row.loc['nr_pojazdu']
    list_details.append(info_dict)
    
    info_dict = {}
    info_dict['name'] = 'osoba'
    info_dict['description'] = "Właściciel nieruchomości"
    info_dict['value'] = row.loc['osoba']
    list_details.append(info_dict)
    
    info_dict = {}
    info_dict['name'] = 'data_odbioru'
    info_dict['description'] = "Data odbioru ścieków"
    info_dict['value'] = row.loc['data_odbioru']
    list_details.append(info_dict)
    
    info_dict = {}
    info_dict['name'] = 'godzina_odbioru'
    info_dict['description'] = "Godzina odbioru ścieków"
    info_dict['value'] = row.loc['godzina_odbioru']
    list_details.append(info_dict)
    
    info_dict = {}
    info_dict['name'] = 'godzina_zrzutu'
    info_dict['description'] = "Godzina zlewu ścieków"
    info_dict['value'] = row.loc['godzina_zrzutu']
    list_details.append(info_dict)
    
    info_dict = {}
    info_dict['name'] = 'nazwa_firmy'
    info_dict['description'] = "Nazwa firmy"
    info_dict['value'] = row.loc['nazwa_firmy']
    list_details.append(info_dict)
    
    return list_details

In [100]:
get_details("Kłeckoska 84")

[{'name': 'nr_pojazdu', 'description': 'Numer pojazdu', 'value': 'PGN554HE'},
 {'name': 'osoba',
  'description': 'Właściciel nieruchomości',
  'value': 'Sylwia Popłek'},
 {'name': 'data_odbioru',
  'description': 'Data odbioru ścieków',
  'value': Timestamp('2021-11-02 00:00:00')},
 {'name': 'godzina_odbioru',
  'description': 'Godzina odbioru ścieków',
  'value': 10.5},
 {'name': 'godzina_zrzutu',
  'description': 'Godzina zlewu ścieków',
  'value': 12.0},
 {'name': 'nazwa_firmy',
  'description': 'Nazwa firmy',
  'value': 'F. U. H. EKO-TRANS-Kop Usługi Asenizacyjne Mieczysław Ziętara '}]

In [101]:
generate_map_datapoints_df()

               adres nr_zbiornika  st_oddanej_do_pobranej
0     Roosevelta 164       Z00777                0.813953
1    Paczkowskiego 6       Z00025                1.030914
2       Kłeckoska 84       Z00666                0.649653
3       Zamiejska 13       Z00523                0.871066
4     Kłeckoska 96 A       Z00021                0.594142
..               ...          ...                     ...
138  Wierzbiczany 71       Z00536                0.536290
139       Akacjowa 3       Z00714                0.626598
140   Myśliwiecka 25       Z00118                0.685337
141    Poznańśka 245       Z00954                0.785047
142     Kiszkowska 4       Z00432                1.055276

[143 rows x 3 columns]

In [27]:
create_map_datapoints(generate_map_datapoints_df())

{'Roosevelta 164': {'nr_zbiornika': 'Z00777',
  'st_oddanej_do_pobranej': 0.8139534883720899},
 'Paczkowskiego 6': {'nr_zbiornika': 'Z00025',
  'st_oddanej_do_pobranej': 1.0309141215281472},
 'Kłeckoska 84': {'nr_zbiornika': 'Z00666',
  'st_oddanej_do_pobranej': 0.649653178010538},
 'Zamiejska 13': {'nr_zbiornika': 'Z00523',
  'st_oddanej_do_pobranej': 0.8710662425137756},
 'Kłeckoska 96 A': {'nr_zbiornika': 'Z00021',
  'st_oddanej_do_pobranej': 0.5941417622244668},
 'Trzemeszeńska 2F': {'nr_zbiornika': 'Z01001',
  'st_oddanej_do_pobranej': 0.3337352088686045},
 'Kłeckoska 51': {'nr_zbiornika': 'Z00888',
  'st_oddanej_do_pobranej': 1.1091498524830703},
 'Roosevelta 131 A': {'nr_zbiornika': 'Z00887',
  'st_oddanej_do_pobranej': 0.6999731517147307},
 'Skrajna 10': {'nr_zbiornika': 'Z00889',
  'st_oddanej_do_pobranej': 0.7094594594594594},
 'Żerniki 6': {'nr_zbiornika': 'Z00458',
  'st_oddanej_do_pobranej': 0.6666666666666667},
 'Skrajna 11': {'nr_zbiornika': 'Z00123',
  'st_oddanej_do_pobranej': 0.7854419457416713},
 'Wrzesińska 84': {'nr_zbiornika': 'Z00458',
  'st_oddanej_do_pobranej': 0.7800586510263932},
 'Pomowska 14': {'nr_zbiornika': 'Z00001',
  'st_oddanej_do_pobranej': 0.6816887052296869},
 'Ludwiczaka 38': {'nr_zbiornika': 'Z00911',
  'st_oddanej_do_pobranej': 0.7077260089308276},
 'Grodzka 9': {'nr_zbiornika': 'Z00555',
  'st_oddanej_do_pobranej': 0.6578947368421053},
 'Kłeckoska 17': {'nr_zbiornika': 'Z00076',
  'st_oddanej_do_pobranej': 0.5745140388768911},
 'Zamiejska 16': {'nr_zbiornika': 'Z00045',
  'st_oddanej_do_pobranej': 0.3835469324464278},
 'Kłeckoska 87': {'nr_zbiornika': 'Z00089',
  'st_oddanej_do_pobranej': 0.7000608328723742},
 'Trzemeszeńska 7': {'nr_zbiornika': 'Z00165',
  'st_oddanej_do_pobranej': 0.8873239436619756},
 'Kłeckoska 18': {'nr_zbiornika': 'Z00367',
  'st_oddanej_do_pobranej': 1.0464728357682835},
 'Roosevelta 9': {'nr_zbiornika': 'Z00465',
  'st_oddanej_do_pobranej': 0.6180297397769505},
 'Skrajna 6': {'nr_zbiornika': 'Z00676',
  'st_oddanej_do_pobranej': 0.9402985074626867},
 'Żerniki 9': {'nr_zbiornika': 'Z00543',
  'st_oddanej_do_pobranej': 1.2785388127853876},
 'Skrajna 73': {'nr_zbiornika': 'Z00673',
  'st_oddanej_do_pobranej': 0.8430119129626308},
 'Wrzesińska 81': {'nr_zbiornika': 'Z00876',
  'st_oddanej_do_pobranej': 0.7277882797731576},
 'Pomowska 9': {'nr_zbiornika': 'Z00378',
  'st_oddanej_do_pobranej': 1.0028653295128942},
 'Ludwiczaka 14': {'nr_zbiornika': 'Z00347',
  'st_oddanej_do_pobranej': 0.47158244204251787},
 'Grodzka 6': {'nr_zbiornika': 'Z00565',
  'st_oddanej_do_pobranej': 0.6517690875232792},
 'Leśna 4': {'nr_zbiornika': 'Z00412',
  'st_oddanej_do_pobranej': 0.9349064692856551},
 'Pustachowska 14': {'nr_zbiornika': 'Z00341',
  'st_oddanej_do_pobranej': 0.8069164265129687},
 'Malinowa 8': {'nr_zbiornika': 'Z00451',
  'st_oddanej_do_pobranej': 0.8630199208357701},
 'Konwaliowa 4': {'nr_zbiornika': 'Z00712',
  'st_oddanej_do_pobranej': 0.8346926899999076},
 'Świerkowa 28': {'nr_zbiornika': 'Z00870',
  'st_oddanej_do_pobranej': 1.0144927536231882},
 'Kłeckoska 34': {'nr_zbiornika': 'Z00444',
  'st_oddanej_do_pobranej': 0.4748447596810668},
 'Witkowska 13': {'nr_zbiornika': 'Z00561',
  'st_oddanej_do_pobranej': 0.6214953271028031},
 'Wolności 67': {'nr_zbiornika': 'Z00934',
  'st_oddanej_do_pobranej': 0.7543103448275837},
 '28 Grudnia 34': {'nr_zbiornika': 'Z00654',
  'st_oddanej_do_pobranej': 0.9210526315789437},
 'Południowa 14': {'nr_zbiornika': 'Z00565',
  'st_oddanej_do_pobranej': 0.7608695652173915},
 'Ugory 34': {'nr_zbiornika': 'Z00765',
  'st_oddanej_do_pobranej': 0.7415882701923896},
 'Morwowa 12': {'nr_zbiornika': 'Z00984',
  'st_oddanej_do_pobranej': 0.8524355300859601},
 'Pistacjowa 37': {'nr_zbiornika': 'Z00453',
  'st_oddanej_do_pobranej': 0.537962962962964},
 'Północna 28': {'nr_zbiornika': 'Z00564',
  'st_oddanej_do_pobranej': 0.6619385342789591},
 'Wacława 24': {'nr_zbiornika': 'Z00981',
  'st_oddanej_do_pobranej': 0.7088607594936731},
 'Żerniki 5': {'nr_zbiornika': 'Z00653',
  'st_oddanej_do_pobranej': 1.026392961876833},
 'Skrajna 35': {'nr_zbiornika': 'Z00780',
  'st_oddanej_do_pobranej': 0.4781085814360775},
 'Wrzesińska 67': {'nr_zbiornika': 'Z00564',
  'st_oddanej_do_pobranej': 0.6818181818181819},
 'Pomowska 8': {'nr_zbiornika': 'Z00678',
  'st_oddanej_do_pobranej': 0.7319034852546887},
 'Ludwiczaka 23': {'nr_zbiornika': 'Z00453',
  'st_oddanej_do_pobranej': 0.8259587020648964},
 'Grodzka 12': {'nr_zbiornika': 'Z00438',
  'st_oddanej_do_pobranej': 0.7974683544303787},
 'Leśna 8': {'nr_zbiornika': 'Z00409',
  'st_oddanej_do_pobranej': 0.844433225623353},
 'Pustachowska 11': {'nr_zbiornika': 'Z00342',
  'st_oddanej_do_pobranej': 0.8109416439221458},
 'Malinowa 9': {'nr_zbiornika': 'Z00678',
  'st_oddanej_do_pobranej': 0.6445672191528551},
 'Konwaliowa 7': {'nr_zbiornika': 'Z00670',
  'st_oddanej_do_pobranej': 0.6423529411764729},
 'Świerkowa 18': {'nr_zbiornika': 'Z00654',
  'st_oddanej_do_pobranej': 0.76261467889908},
 'Kłeckoska 23': {'nr_zbiornika': 'Z00458',
  'st_oddanej_do_pobranej': 0.832132564841499},
 'Witkowska 10': {'nr_zbiornika': 'Z00454',
  'st_oddanej_do_pobranej': 0.748141263940519},
 'Wolności 56': {'nr_zbiornika': 'Z00432',
  'st_oddanej_do_pobranej': 0.8235617083022866},
 '28 Grudnia 20': {'nr_zbiornika': 'Z00894',
  'st_oddanej_do_pobranej': 0.7383623544898756},
 'Południowa 7': {'nr_zbiornika': 'Z00095',
  'st_oddanej_do_pobranej': 0.7313432835820897},
 'Okopowa 2': {'nr_zbiornika': 'Z00454',
  'st_oddanej_do_pobranej': 0.4872254136775763},
 'Widna 12': {'nr_zbiornika': 'Z00657',
  'st_oddanej_do_pobranej': 0.5718954248366008},
 'Wrzesińska 8': {'nr_zbiornika': 'Z00567',
  'st_oddanej_do_pobranej': 0.5797101449275363},
 'Wiosny Ludów 9': {'nr_zbiornika': 'Z00564',
  'st_oddanej_do_pobranej': 0.9264705882352945},
 'Osiniec 23': {'nr_zbiornika': 'Z00783',
  'st_oddanej_do_pobranej': 0.9176339277353913},
 'Leśna 18': {'nr_zbiornika': 'Z00459',
  'st_oddanej_do_pobranej': 0.653333333333335},
 'Roosevelta 16': {'nr_zbiornika': 'Z00435',
  'st_oddanej_do_pobranej': 0.7593688362919124},
 'Paczkowskiego 3': {'nr_zbiornika': 'Z00987',
  'st_oddanej_do_pobranej': 0.9183673469387754},
 'Kłeckoska 43': {'nr_zbiornika': 'Z00453',
  'st_oddanej_do_pobranej': 0.9874608150470223},
 'Zamiejska 8': {'nr_zbiornika': 'Z00323',
  'st_oddanej_do_pobranej': 0.9101654846335687},
 'Kłeckoska 24': {'nr_zbiornika': 'Z00761',
  'st_oddanej_do_pobranej': 0.9188544152744608},
 'Kłeckoska 61': {'nr_zbiornika': 'Z00985',
  'st_oddanej_do_pobranej': 0.9292035398230084},
 'Roosevelta 40': {'nr_zbiornika': 'Z00870',
  'st_oddanej_do_pobranej': 0.849514563106794},
 'Skrajna 9': {'nr_zbiornika': 'Z00654',
  'st_oddanej_do_pobranej': 0.9516271313426697},
 'Żerniki 10': {'nr_zbiornika': 'Z01003',
  'st_oddanej_do_pobranej': 1.0096153846153872},
 'Skrajna 4': {'nr_zbiornika': 'Z00341',
  'st_oddanej_do_pobranej': 0.9976247030878883},
 'Wrzesińska 38': {'nr_zbiornika': 'Z00987',
  'st_oddanej_do_pobranej': 0.7054263565891445},
 'Pomowska 22': {'nr_zbiornika': 'Z00854',
  'st_oddanej_do_pobranej': 0.9662576687116559},
 'Ludwiczaka 17': {'nr_zbiornika': 'Z00453',
  'st_oddanej_do_pobranej': 0.9615384615384615},
 'Grodzka 24': {'nr_zbiornika': 'Z00983',
  'st_oddanej_do_pobranej': 0.4972677595628411},
 'Kłeckoska 29': {'nr_zbiornika': 'Z00342',
  'st_oddanej_do_pobranej': 0.9597806215722139},
 'Zamiejska 9': {'nr_zbiornika': 'Z00875',
  'st_oddanej_do_pobranej': 1.0091666666666692},
 'Kłeckoska 65': {'nr_zbiornika': 'Z00987',
  'st_oddanej_do_pobranej': 0.991983156530893},
 'Trzemeszeńska 4': {'nr_zbiornika': 'Z00986',
  'st_oddanej_do_pobranej': 0.977653631284919},
 'Kłeckoska 62': {'nr_zbiornika': 'Z00576',
  'st_oddanej_do_pobranej': 0.9570648968127788},
 'Roosevelta 10': {'nr_zbiornika': 'Z00765',
  'st_oddanej_do_pobranej': 0.6594669117647077},
 'Skrajna 12': {'nr_zbiornika': 'Z00770',
  'st_oddanej_do_pobranej': 0.7535885167464141},
 'Żerniki 18': {'nr_zbiornika': 'Z00439',
  'st_oddanej_do_pobranej': 0.522388059701493},
 'Skrajna 98': {'nr_zbiornika': 'Z00231',
  'st_oddanej_do_pobranej': 0.9315908148948064},
 'Wrzesińska 44': {'nr_zbiornika': 'Z00686',
  'st_oddanej_do_pobranej': 1.0144927536231882},
 'Pomowska 54': {'nr_zbiornika': 'Z00211', 'st_oddanej_do_pobranej': 1.09375},
 'Ludwiczaka 28': {'nr_zbiornika': 'Z00785',
  'st_oddanej_do_pobranej': 0.715613382899627},
 'Grodzka 26': {'nr_zbiornika': 'Z00567',
  'st_oddanej_do_pobranej': 0.8454106280193243},
 'Leśna 26': {'nr_zbiornika': 'Z00876',
  'st_oddanej_do_pobranej': 0.8235294117647088},
 'Pustachowska 12': {'nr_zbiornika': 'Z00789',
  'st_oddanej_do_pobranej': 0.4628099173553715},
 'Malinowa 7': {'nr_zbiornika': 'Z00218',
  'st_oddanej_do_pobranej': 0.6862745098039224},
 'Konwaliowa 8': {'nr_zbiornika': 'Z00765',
  'st_oddanej_do_pobranej': 0.6081081081081081},
 'Świerkowa 11': {'nr_zbiornika': 'Z00111',
  'st_oddanej_do_pobranej': 0.9821428571428572},
 'Kłeckoska 161': {'nr_zbiornika': 'Z00559',
  'st_oddanej_do_pobranej': 0.9358288770053464},
 'Witkowska 78': {'nr_zbiornika': 'Z00073',
  'st_oddanej_do_pobranej': 0.9277108433734906},
 'Kłeckoska 143': {'nr_zbiornika': 'Z00621',
  'st_oddanej_do_pobranej': 0.7182835820895529},
 'Kwiatowa 34': {'nr_zbiornika': 'Z00346',
  'st_oddanej_do_pobranej': 0.730550284629979},
 'Witkowska 234': {'nr_zbiornika': 'Z00430',
  'st_oddanej_do_pobranej': 1.0174418604651163},
 'Północna 11': {'nr_zbiornika': 'Z00560',
  'st_oddanej_do_pobranej': 0.5429808095068172},
 'Północna 34': {'nr_zbiornika': 'Z00361',
  'st_oddanej_do_pobranej': 0.7064220183486226},
 'Kruszwicka 11': {'nr_zbiornika': 'Z00459',
  'st_oddanej_do_pobranej': 1.0385756676557862},
 'Kawiary 23': {'nr_zbiornika': 'Z00603',
  'st_oddanej_do_pobranej': 0.5922165820642973},
 'Piekary 23': {'nr_zbiornika': 'Z00371',
  'st_oddanej_do_pobranej': 0.6481481481481494},
 'Wodna 11': {'nr_zbiornika': 'Z00129',
  'st_oddanej_do_pobranej': 0.9292035398230084},
 'Asnyka 16': {'nr_zbiornika': 'Z00348',
  'st_oddanej_do_pobranej': 0.7865168539325821},
 'Batalionowa 67': {'nr_zbiornika': 'Z04570',
  'st_oddanej_do_pobranej': 0.6862745098039202},
 'Boczna 35': {'nr_zbiornika': 'Z00423',
  'st_oddanej_do_pobranej': 0.4955290611028309},
 'Bociania 23': {'nr_zbiornika': 'Z00591',
  'st_oddanej_do_pobranej': 0.8454106280193256},
 'Cienista 29': {'nr_zbiornika': 'Z00631',
  'st_oddanej_do_pobranej': 1.0327868852459021},
 'Kawiary 45': {'nr_zbiornika': 'Z00532',
  'st_oddanej_do_pobranej': 0.8663366336633667},
 'Bielska 38': {'nr_zbiornika': 'Z00746',
  'st_oddanej_do_pobranej': 0.8495145631067955},
 'Makowa 34': {'nr_zbiornika': 'Z00945',
  'st_oddanej_do_pobranej': 1.0515021459227463},
 'Moiła 12': {'nr_zbiornika': 'Z00433',
  'st_oddanej_do_pobranej': 0.8092485549132945},
 'Hetmańska 4': {'nr_zbiornika': 'Z00598',
  'st_oddanej_do_pobranej': 0.8860759493670884},
 'Królewska 12': {'nr_zbiornika': 'Z00923',
  'st_oddanej_do_pobranej': 0.8242753623188425},
 'Bartnicza 2': {'nr_zbiornika': 'Z00611',
  'st_oddanej_do_pobranej': 0.919324577861165},
 'Wiejska 45': {'nr_zbiornika': 'Z00781',
  'st_oddanej_do_pobranej': 1.0275229357798146},
 'Pustachowska 34': {'nr_zbiornika': 'Z00545',
  'st_oddanej_do_pobranej': 0.7994923857867989},
 'Pustachowska 15': {'nr_zbiornika': 'Z00698',
  'st_oddanej_do_pobranej': 0.7016908212560403},
 'Wiosny Lódów 8': {'nr_zbiornika': 'Z00441',
  'st_oddanej_do_pobranej': 0.9003215434083597},
 'Topolowa  16': {'nr_zbiornika': 'Z00478',
  'st_oddanej_do_pobranej': 0.6535269709543554},
 'Ochuckiego 1': {'nr_zbiornika': 'Z00491',
  'st_oddanej_do_pobranej': 0.9597806215722139},
 'Lipowa 11': {'nr_zbiornika': 'Z00333',
  'st_oddanej_do_pobranej': 0.9794776119402994},
 'Konwaliowa 12': {'nr_zbiornika': 'Z00678',
  'st_oddanej_do_pobranej': 0.9535433070866165},
 'Tulipanowq 38': {'nr_zbiornika': 'Z00673',
  'st_oddanej_do_pobranej': 0.7016908212560403},
 'Agrestowa 22': {'nr_zbiornika': 'Z00678',
  'st_oddanej_do_pobranej': 0.6690140845070423},
 'Dojazdowa 15': {'nr_zbiornika': 'Z00415',
  'st_oddanej_do_pobranej': 0.8776595744680851},
 'Okopowa 6': {'nr_zbiornika': 'Z00468',
  'st_oddanej_do_pobranej': 0.77490774907749},
 'Kręta 24': {'nr_zbiornika': 'Z00467',
  'st_oddanej_do_pobranej': 1.0144927536231891},
 'Podkomorska 4': {'nr_zbiornika': 'Z00891',
  'st_oddanej_do_pobranej': 0.9865196078431336},
 'Jesionowa 8': {'nr_zbiornika': 'Z00076',
  'st_oddanej_do_pobranej': 0.7469512195121952},
 'Grodziska 39': {'nr_zbiornika': 'Z00421',
  'st_oddanej_do_pobranej': 0.8413461538461529},
 'Makowa 20': {'nr_zbiornika': 'Z00607',
  'st_oddanej_do_pobranej': 0.9240924092409237},
 'Warzywna 1': {'nr_zbiornika': 'Z00545',
  'st_oddanej_do_pobranej': 0.6796116504854353},
 'Wierzbiczany 71': {'nr_zbiornika': 'Z00536',
  'st_oddanej_do_pobranej': 0.5362903225806456},
 'Akacjowa 3': {'nr_zbiornika': 'Z00714',
  'st_oddanej_do_pobranej': 0.6265984654731442},
 'Myśliwiecka 25': {'nr_zbiornika': 'Z00118',
  'st_oddanej_do_pobranej': 0.6853369763205823},
 'Poznańśka 245': {'nr_zbiornika': 'Z00954',
  'st_oddanej_do_pobranej': 0.7850467289719618},
 'Kiszkowska 4': {'nr_zbiornika': 'Z00432',
  'st_oddanej_do_pobranej': 1.055276381909547}}

In [19]:
generate_quotient_timeseries_df()

,adres,2021-11,pobrana_2021-11,deklarowana_2021-11,2021-10,pobrana_2021-10,deklarowana_2021-10,2021-09,pobrana_2021-09,deklarowana_2021-09,2021-08,pobrana_2021-08,deklarowana_2021-08,2021-07,pobrana_2021-07,deklarowana_2021-07,2021-06,pobrana_2021-06,deklarowana_2021-06
0,Roosevelta 164,0.818182,11.0000,9.0,0.827273,11.0000,9.1,0.866667,12.0000,10.4,0.791667,12.0000,9.5,0.900000,10.0000,9.0,0.800000,10.0000,8.0
1,Paczkowskiego 6,1.307692,6.5000,8.5,1.200000,6.5000,7.8,1.211735,6.2720,7.6,1.307398,6.2720,8.2,1.047120,9.0725,9.5,0.837696,9.0725,7.6
2,Kłeckoska 84,0.596178,16.7735,10.0,0.667720,16.7735,11.2,0.515050,21.1630,10.9,0.519775,21.1630,11.0,0.521184,17.0765,8.9,0.661728,17.0765,11.3
3,Zamiejska 13,0.961599,7.9035,7.6,0.873031,7.9035,6.9,0.915705,7.9720,7.3,0.878073,7.9720,7.0,0.733289,10.6370,7.8,0.658080,10.6370,7.0
4,Kłeckoska 96 A,0.567811,17.6115,10.0,0.516708,17.6115,9.1,0.219552,43.7255,9.6,0.196682,43.7255,8.6,0.685291,14.3005,9.8,0.615363,14.3005,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Wierzbiczany 71,0.571429,17.5000,10.0,0.554286,17.5000,9.7,0.544444,18.0000,9.8,0.600000,18.0000,10.8,0.554286,17.5000,9.7,0.497143,17.5000,8.7
139,Akacjowa 3,0.666667,10.5000,7.0,0.809524,10.5000,8.5,0.666667,10.5000,7.0,0.752381,10.5000,7.9,0.790000,10.0000,7.9,0.820000,10.0000,8.2
140,Myśliwiecka 25,0.677419,15.5000,10.5,0.754839,15.5000,11.7,0.580645,15.5000,9.0,0.761290,15.5000,11.8,0.726667,15.0000,10.9,0.613333,15.0000,9.2
141,Poznańśka 245,0.827586,14.5000,12.0,0.737931,14.5000,10.7,0.733333,15.0000,11.0,0.880000,15.0000,13.2,0.800000,14.5000,11.6,0.848276,14.5000,12.3
142,Kiszkowska 4,1.090909,5.5000,6.0,1.090909,5.5000,6.0,0.950000,6.0000,5.7,0.966667,6.0000,5.8,1.166667,6.0000,7.0,1.116667,6.0000,6.7

In [20]:
graph_quotient_timeseries(generate_quotient_timeseries_df(), "Grodzka 6")

{'name': 'quotient_timeseries',
 'title': 'Stosunek wody zadeklarowanej jako ścieki do pobranej na przestrzeni miesięcy',
 'data': [{'date': '2021-11', 'quotient': 0.6060606060606061},
  {'date': '2021-10', 'quotient': 0.5818181818181818},
  {'date': '2021-09', 'quotient': 0.6},
  {'date': '2021-08', 'quotient': 0.53125},
  {'date': '2021-07', 'quotient': 0.74},
  {'date': '2021-06', 'quotient': 0.6799999999999999}]}

In [21]:
graph_amount_timeseries(generate_quotient_timeseries_df(), "Grodzka 6")

{'name': 'quotient_timeseries',
 'title': 'm^3 wody zadeklarowanej jako ścieki i pobranej na przestrzeni miesięcy',
 'data': [{'date': '2021-11', 'pobrana': 16.5, 'deklarowana': 10.0},
  {'date': '2021-10', 'pobrana': 16.5, 'deklarowana': 9.6},
  {'date': '2021-09', 'pobrana': 16.0, 'deklarowana': 9.6},
  {'date': '2021-08', 'pobrana': 16.0, 'deklarowana': 8.5},
  {'date': '2021-07', 'pobrana': 15.0, 'deklarowana': 11.1},
  {'date': '2021-06', 'pobrana': 15.0, 'deklarowana': 10.2}]}