# Notebook with final version of script providing data to backend

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from typing import List
from datetime import datetime as dt
import re
import random

"""
generate_map_datapoints_df() - generuje DataFrame z wszystkimi datapointami na mapie

create_map_datapoints(df) - tworzy słownik z DataFrame'a 'df' z wszystkimi obiektami na mapie
Słownik jako key zawiera adresy, a jako value zawiera kolejny słownik z danymi,
np. '[Akacjowa 3': {'nr_zbiornika': 'A41312', 'st_oddanej_do_pobranej': 0.6265984654731442}, ...]


generate_quotient_timeseries_df() - generuje DataFrame z danymi z timeseries z deklarowanych ścieków
i pobieranej wody. Ten DataFrame jest potrzebny do dwóch funkcji poniżej


graph_quotient_timeseries(df, address) - generuje graf dla punktu o adresie 'address' z DataFrame'a 'df'
z stosunkiem wody oddanej do pobranej
Przykładowy graf ma formę: 
{
    'name': 'quotient_timeseries',
    'title': 'Stosunek wody zadeklarowanej jako ścieki do pobranej na przestrzeni miesięcy',
    'data': [
                {'date': '2021-11', 'quotient': 0.625}, 
                {'date': '2021-10', 'quotient': 0.66875}, 
                {'date': '2021-09', 'quotient': 0.6774193548387096}, 
                {'date': '2021-08', 'quotient': 0.7096774193548387}, 
                {'date': '2021-07', 'quotient': 0.7034482758620689}, 
                {'date': '2021-06', 'quotient': 0.7310344827586207}
            ]
}

graph_amount_timeseries(df, address) - generuje graf dla punktu o adresie 'address' z DataFrame'a 'df'
z iloscia wody pobranej i oddanej
Przykładowy graf ma formę: 
{
    'name': 'quotient_timeseries',
    'title': 'm^3 wody zadeklarowanej jako ścieki i pobranej na przestrzeni miesięcy',
    'data': [
                {'date': '2021-11', 'pobrana': 16.5, 'deklarowana': 10.0},
                {'date': '2021-10', 'pobrana': 16.5, 'deklarowana': 9.6},
                {'date': '2021-09', 'pobrana': 16.0, 'deklarowana': 9.6},
                {'date': '2021-08', 'pobrana': 16.0, 'deklarowana': 8.5},
                {'date': '2021-07', 'pobrana': 15.0, 'deklarowana': 11.1},
                {'date': '2021-06', 'pobrana': 15.0, 'deklarowana': 10.2}
            ]
}
"""


pd.options.mode.chained_assignment = None  

def generate_map_datapoints_df():
    waterConsumption_raw = pd.read_excel("data/waterConsumption.xlsx")
    
    # counting mean values to account for zeros
    
    for i in range(143):
        if waterConsumption_raw.iloc[i, 6] != 0:
            for j in range(17):
                temp = waterConsumption_raw.iloc[i, 6 + j * 2]
                waterConsumption_raw.iloc[i, 6 + j * 2] = temp / 2
                waterConsumption_raw.iloc[i, 6 + j * 2 + 1] = temp / 2
        else:
            for j in range(17):
                temp = waterConsumption_raw.iloc[i, 6 + j * 2 + 1]
                waterConsumption_raw.iloc[i, 6 + j * 2] = temp / 2
                waterConsumption_raw.iloc[i, 6 + j * 2 + 1] = temp / 2
        waterConsumption_raw.iloc[i, 40] = waterConsumption_raw.iloc[i, 39]
    
    # zmiana nazw kolumn
    waterConsumption = waterConsumption_raw.drop(['Lp.'], axis = 1)
    c = waterConsumption.columns
    waterConsumption = waterConsumption.rename(columns = {c[0]: 'nr_licznika',
                                                          c[1]: 'osoba',
                                                          c[2]: 'adres_licznika',
                                                          c[3]: 'zuzycie_wody',
                                                          c[4]: 'srednie_zuzucie_wody'})

    for i in range(5, len(c)-1):
        waterConsumption = waterConsumption.rename(columns = 
                                                   {c[i]: dt.strptime(str(c[i]), '%Y-%m').strftime('%Y-%m')})
    
    declaredSewage_raw = pd.read_excel("data/declaredSewage.xlsx")
    declaredSewage = declaredSewage_raw.drop(['Lp.'], axis = 1)
    c = declaredSewage.columns
    declaredSewage = declaredSewage.rename(columns = {c[0]: 'nr_zbiornika',
                                                      c[1]: 'adres_licznika',
                                                      c[2]: 'data_odbioru',
                                                      c[3]: 'deklaracja_mieszkaniec',
                                                      c[4]: 'deklaracja_firma',
                                                      c[5]: 'pobrana_woda',
                                                      c[6]: 'pobrana_woda_ogrodowa',
                                                      c[7]: 'nr_pojazdu'})
    
    # drop useless columns
    waterConsumption = waterConsumption.drop(columns = ['nr_licznika', 'osoba', 'zuzycie_wody'])
    waterConsumption= waterConsumption.iloc[: , :2]
    
    declaredSewage = declaredSewage.drop(columns = ['nr_zbiornika', 'data_odbioru', 'pobrana_woda', 
                                                        'pobrana_woda_ogrodowa', 'nr_pojazdu'])
    
    declaredSewage = declaredSewage.iloc[:, :3]
    declaredSewage['srednia_deklaracji'] = \
                   (declaredSewage['deklaracja_mieszkaniec'] + declaredSewage['deklaracja_firma'])/2
                   
    declaredSewage = declaredSewage.drop(columns = ['deklaracja_firma', 'deklaracja_mieszkaniec'])
    
   
    df = pd.DataFrame()
    
    df['adres'] = waterConsumption['adres_licznika']
    
    
    df['st_oddanej_do_pobranej'] = declaredSewage['srednia_deklaracji'] / waterConsumption['srednie_zuzucie_wody']
    
    
    return df

                                                    
def create_map_datapoints(df):
    data_dict = {}
    for index, row in df.iterrows():
        row_dict = {}

        if not np.isnan(row['st_oddanej_do_pobranej']): 
            row_dict['nr_zbiornika'] = random.choice("ABCDEFGHIJKL") + str(int(random.uniform(10000, 99999)//1))
            
            row_dict['st_oddanej_do_pobranej'] = row['st_oddanej_do_pobranej']        

        data_dict[row['adres']] = row_dict
    return data_dict



def generate_quotient_timeseries_df():
    waterConsumption_raw = pd.read_excel("data/waterConsumption.xlsx")
    
    # counting mean values to account for zeros
    
    for i in range(143):
        if waterConsumption_raw.iloc[i, 6] != 0:
            for j in range(17):
                temp = waterConsumption_raw.iloc[i, 6 + j * 2]
                waterConsumption_raw.iloc[i, 6 + j * 2] = temp / 2
                waterConsumption_raw.iloc[i, 6 + j * 2 + 1] = temp / 2
        else:
            for j in range(17):
                temp = waterConsumption_raw.iloc[i, 6 + j * 2 + 1]
                waterConsumption_raw.iloc[i, 6 + j * 2] = temp / 2
                waterConsumption_raw.iloc[i, 6 + j * 2 + 1] = temp / 2
        waterConsumption_raw.iloc[i, 40] = waterConsumption_raw.iloc[i, 39]
    
    # zmiana nazw kolumn
    waterConsumption = waterConsumption_raw.drop(['Lp.'], axis = 1)
    c = waterConsumption.columns
    waterConsumption = waterConsumption.rename(columns = {c[0]: 'nr_licznika',
                                                          c[1]: 'osoba',
                                                          c[2]: 'adres_licznika',
                                                          c[3]: 'zuzycie_wody',
                                                          c[4]: 'srednie_zuzucie_wody'})

    for i in range(5, len(c)-1):
        waterConsumption = waterConsumption.rename(columns = 
                                                   {c[i]: dt.strptime(str(c[i]), '%Y-%m').strftime('%Y-%m')})
    
    declaredSewage_raw = pd.read_excel("data/declaredSewage.xlsx")
    declaredSewage = declaredSewage_raw.drop(['Lp.'], axis = 1)
    c = declaredSewage.columns
    declaredSewage = declaredSewage.rename(columns = {c[0]: 'nr_zbiornika',
                                                      c[1]: 'adres_licznika',
                                                      c[2]: 'data_odbioru',
                                                      c[3]: 'deklaracja_mieszkaniec',
                                                      c[4]: 'deklaracja_firma',
                                                      c[5]: 'pobrana_woda',
                                                      c[6]: 'pobrana_woda_ogrodowa',
                                                      c[7]: 'nr_pojazdu'})
    
    # drop useless columns
    waterConsumption = waterConsumption.drop(columns = 
                                             ['nr_licznika', 'osoba', 'zuzycie_wody','srednie_zuzucie_wody'])
    
    declaredSewage = declaredSewage.drop(columns = ['nr_zbiornika', 'data_odbioru', 'deklaracja_mieszkaniec', 
                                       'deklaracja_firma', 'pobrana_woda', 'pobrana_woda_ogrodowa', 'nr_pojazdu'])
    
    waterConsumption= waterConsumption.iloc[: , :7]
    declaredSewage = declaredSewage.iloc[:, :7]
    
    df = pd.DataFrame()
    
    df['adres'] = waterConsumption['adres_licznika']
    
    for col_cons, col_decl in zip(waterConsumption.columns[1:], declaredSewage.columns[1:]):
        df[col_cons] = declaredSewage[col_decl] / waterConsumption[col_cons]
        df["pobrana_" + col_cons] =  waterConsumption[col_cons]
        df["deklarowana_" + col_cons] = declaredSewage[col_decl] 
        
    return df

def graph_quotient_timeseries(df, address):
    row = df[df['adres'] == address]
    
    graph = {}
    graph['name'] = 'quotient_timeseries'
    graph['title'] = "Stosunek zadeklarowanych ścieków do pobranej wody"
    
    data_list = []
    
    for col in row.columns[1:]:
        # if column is year and not pobrana or deklarowana
        if re.search("^20.*$", col):
            temp_dict = {}

            temp_dict['date'] = col
            temp_dict['quotient'] = float(row[col])

            data_list.append(temp_dict)
        
        
        
    graph['data'] = data_list
    
    return graph

def graph_amount_timeseries(df, address):
    row = df[df['adres'] == address]
    
    graph = {}
    graph['name'] = 'quotient_timeseries'
    graph['title'] = "Zadeklarowane ścieki i pobrana woda"
    
    data_list = []
    
    for col in row.columns[1:]:
        if re.search("^20.*$", col):
            temp_dict = {}
            temp_dict['date'] = col
            temp_dict['pobrana'] = float(row["pobrana_" + col])
            temp_dict['deklarowana'] = float(row["deklarowana_" + col])
            
            data_list.append(temp_dict)

        
    graph['data'] = data_list
    
    return graph

In [13]:
create_map_datapoints(generate_map_datapoints_df())

{'Roosevelta 164': {'nr_zbiornika': 'L47817',
  'st_oddanej_do_pobranej': 0.8139534883720899},
 'Paczkowskiego 6': {'nr_zbiornika': 'K75708',
  'st_oddanej_do_pobranej': 1.0309141215281472},
 'Kłeckoska 84': {'nr_zbiornika': 'C46223',
  'st_oddanej_do_pobranej': 0.649653178010538},
 'Zamiejska 13': {'nr_zbiornika': 'K14362',
  'st_oddanej_do_pobranej': 0.8710662425137756},
 'Kłeckoska 96 A': {'nr_zbiornika': 'C72434',
  'st_oddanej_do_pobranej': 0.5941417622244668},
 'Trzemeszeńska 2F': {'nr_zbiornika': 'I44433',
  'st_oddanej_do_pobranej': 0.3337352088686045},
 'Kłeckoska 51': {'nr_zbiornika': 'H76643',
  'st_oddanej_do_pobranej': 1.1091498524830703},
 'Roosevelta 131 A': {'nr_zbiornika': 'E98740',
  'st_oddanej_do_pobranej': 0.6999731517147307},
 'Skrajna 10': {'nr_zbiornika': 'E99258',
  'st_oddanej_do_pobranej': 0.7094594594594594},
 'Żerniki 6': {'nr_zbiornika': 'J73388',
  'st_oddanej_do_pobranej': 0.6666666666666667},
 'Skrajna 11': {'nr_zbiornika': 'D44925',
  'st_oddanej_do_pobranej': 0.7854419457416713},
 'Wrzesińska 84': {'nr_zbiornika': 'L95780',
  'st_oddanej_do_pobranej': 0.7800586510263932},
 'Pomowska 14': {'nr_zbiornika': 'B94651',
  'st_oddanej_do_pobranej': 0.6816887052296869},
 'Ludwiczaka 38': {'nr_zbiornika': 'L37512',
  'st_oddanej_do_pobranej': 0.7077260089308276},
 'Grodzka 9': {'nr_zbiornika': 'J20386',
  'st_oddanej_do_pobranej': 0.6578947368421053},
 'Kłeckoska 17': {'nr_zbiornika': 'B20421',
  'st_oddanej_do_pobranej': 0.5745140388768911},
 'Zamiejska 16': {'nr_zbiornika': 'G57389',
  'st_oddanej_do_pobranej': 0.3835469324464278},
 'Kłeckoska 87': {'nr_zbiornika': 'B65397',
  'st_oddanej_do_pobranej': 0.7000608328723742},
 'Trzemeszeńska 7': {'nr_zbiornika': 'A82636',
  'st_oddanej_do_pobranej': 0.8873239436619756},
 'Kłeckoska 18': {'nr_zbiornika': 'I61985',
  'st_oddanej_do_pobranej': 1.0464728357682835},
 'Roosevelta 9': {'nr_zbiornika': 'H14381',
  'st_oddanej_do_pobranej': 0.6180297397769505},
 'Skrajna 6': {'nr_zbiornika': 'F78085',
  'st_oddanej_do_pobranej': 0.9402985074626867},
 'Żerniki 9': {'nr_zbiornika': 'G83300',
  'st_oddanej_do_pobranej': 1.2785388127853876},
 'Skrajna 73': {'nr_zbiornika': 'F39140',
  'st_oddanej_do_pobranej': 0.8430119129626308},
 'Wrzesińska 81': {'nr_zbiornika': 'A57051',
  'st_oddanej_do_pobranej': 0.7277882797731576},
 'Pomowska 9': {'nr_zbiornika': 'B37280',
  'st_oddanej_do_pobranej': 1.0028653295128942},
 'Ludwiczaka 14': {'nr_zbiornika': 'I65113',
  'st_oddanej_do_pobranej': 0.47158244204251787},
 'Grodzka 6': {'nr_zbiornika': 'E49517',
  'st_oddanej_do_pobranej': 0.6517690875232792},
 'Leśna 4': {'nr_zbiornika': 'K98445',
  'st_oddanej_do_pobranej': 0.9349064692856551},
 'Pustachowska 14': {'nr_zbiornika': 'C65782',
  'st_oddanej_do_pobranej': 0.8069164265129687},
 'Malinowa 8': {'nr_zbiornika': 'J91426',
  'st_oddanej_do_pobranej': 0.8630199208357701},
 'Konwaliowa 4': {'nr_zbiornika': 'L97400',
  'st_oddanej_do_pobranej': 0.8346926899999076},
 'Świerkowa 28': {'nr_zbiornika': 'B14714',
  'st_oddanej_do_pobranej': 1.0144927536231882},
 'Kłeckoska 34': {'nr_zbiornika': 'J13304',
  'st_oddanej_do_pobranej': 0.4748447596810668},
 'Witkowska 13': {'nr_zbiornika': 'F71015',
  'st_oddanej_do_pobranej': 0.6214953271028031},
 'Wolności 67': {'nr_zbiornika': 'D60535',
  'st_oddanej_do_pobranej': 0.7543103448275837},
 '28 Grudnia 34': {'nr_zbiornika': 'J13534',
  'st_oddanej_do_pobranej': 0.9210526315789437},
 'Południowa 14': {'nr_zbiornika': 'G13166',
  'st_oddanej_do_pobranej': 0.7608695652173915},
 'Ugory 34': {'nr_zbiornika': 'H21841',
  'st_oddanej_do_pobranej': 0.7415882701923896},
 'Morwowa 12': {'nr_zbiornika': 'L51287',
  'st_oddanej_do_pobranej': 0.8524355300859601},
 'Pistacjowa 37': {'nr_zbiornika': 'D75062',
  'st_oddanej_do_pobranej': 0.537962962962964},
 'Północna 28': {'nr_zbiornika': 'E69614',
  'st_oddanej_do_pobranej': 0.6619385342789591},
 'Wacława 24': {'nr_zbiornika': 'I80761',
  'st_oddanej_do_pobranej': 0.7088607594936731},
 'Żerniki 5': {'nr_zbiornika': 'G45817',
  'st_oddanej_do_pobranej': 1.026392961876833},
 'Skrajna 35': {'nr_zbiornika': 'E24657',
  'st_oddanej_do_pobranej': 0.4781085814360775},
 'Wrzesińska 67': {'nr_zbiornika': 'C83066',
  'st_oddanej_do_pobranej': 0.6818181818181819},
 'Pomowska 8': {'nr_zbiornika': 'D72038',
  'st_oddanej_do_pobranej': 0.7319034852546887},
 'Ludwiczaka 23': {'nr_zbiornika': 'H85847',
  'st_oddanej_do_pobranej': 0.8259587020648964},
 'Grodzka 12': {'nr_zbiornika': 'K62521',
  'st_oddanej_do_pobranej': 0.7974683544303787},
 'Leśna 8': {'nr_zbiornika': 'E92773',
  'st_oddanej_do_pobranej': 0.844433225623353},
 'Pustachowska 11': {'nr_zbiornika': 'G49936',
  'st_oddanej_do_pobranej': 0.8109416439221458},
 'Malinowa 9': {'nr_zbiornika': 'C91212',
  'st_oddanej_do_pobranej': 0.6445672191528551},
 'Konwaliowa 7': {'nr_zbiornika': 'A27237',
  'st_oddanej_do_pobranej': 0.6423529411764729},
 'Świerkowa 18': {'nr_zbiornika': 'B81664',
  'st_oddanej_do_pobranej': 0.76261467889908},
 'Kłeckoska 23': {'nr_zbiornika': 'F48867',
  'st_oddanej_do_pobranej': 0.832132564841499},
 'Witkowska 10': {'nr_zbiornika': 'C91869',
  'st_oddanej_do_pobranej': 0.748141263940519},
 'Wolności 56': {'nr_zbiornika': 'J77818',
  'st_oddanej_do_pobranej': 0.8235617083022866},
 '28 Grudnia 20': {'nr_zbiornika': 'D28457',
  'st_oddanej_do_pobranej': 0.7383623544898756},
 'Południowa 7': {'nr_zbiornika': 'I35414',
  'st_oddanej_do_pobranej': 0.7313432835820897},
 'Okopowa 2': {'nr_zbiornika': 'D36173',
  'st_oddanej_do_pobranej': 0.4872254136775763},
 'Widna 12': {'nr_zbiornika': 'C73194',
  'st_oddanej_do_pobranej': 0.5718954248366008},
 'Wrzesińska 8': {'nr_zbiornika': 'E94194',
  'st_oddanej_do_pobranej': 0.5797101449275363},
 'Wiosny Ludów 9': {'nr_zbiornika': 'J55271',
  'st_oddanej_do_pobranej': 0.9264705882352945},
 'Osiniec 23': {'nr_zbiornika': 'F80756',
  'st_oddanej_do_pobranej': 0.9176339277353913},
 'Leśna 18': {'nr_zbiornika': 'H50858',
  'st_oddanej_do_pobranej': 0.653333333333335},
 'Roosevelta 16': {'nr_zbiornika': 'E37624',
  'st_oddanej_do_pobranej': 0.7593688362919124},
 'Paczkowskiego 3': {'nr_zbiornika': 'E51818',
  'st_oddanej_do_pobranej': 0.9183673469387754},
 'Kłeckoska 43': {'nr_zbiornika': 'B58887',
  'st_oddanej_do_pobranej': 0.9874608150470223},
 'Zamiejska 8': {'nr_zbiornika': 'J18858',
  'st_oddanej_do_pobranej': 0.9101654846335687},
 'Kłeckoska 24': {'nr_zbiornika': 'F38148',
  'st_oddanej_do_pobranej': 0.9188544152744608},
 'Kłeckoska 61': {'nr_zbiornika': 'F59169',
  'st_oddanej_do_pobranej': 0.9292035398230084},
 'Roosevelta 40': {'nr_zbiornika': 'E25573',
  'st_oddanej_do_pobranej': 0.849514563106794},
 'Skrajna 9': {'nr_zbiornika': 'G60634',
  'st_oddanej_do_pobranej': 0.9516271313426697},
 'Żerniki 10': {'nr_zbiornika': 'C35881',
  'st_oddanej_do_pobranej': 1.0096153846153872},
 'Skrajna 4': {'nr_zbiornika': 'A26074',
  'st_oddanej_do_pobranej': 0.9976247030878883},
 'Wrzesińska 38': {'nr_zbiornika': 'D18196',
  'st_oddanej_do_pobranej': 0.7054263565891445},
 'Pomowska 22': {'nr_zbiornika': 'C76849',
  'st_oddanej_do_pobranej': 0.9662576687116559},
 'Ludwiczaka 17': {'nr_zbiornika': 'A88964',
  'st_oddanej_do_pobranej': 0.9615384615384615},
 'Grodzka 24': {'nr_zbiornika': 'J91618',
  'st_oddanej_do_pobranej': 0.4972677595628411},
 'Kłeckoska 29': {'nr_zbiornika': 'J59892',
  'st_oddanej_do_pobranej': 0.9597806215722139},
 'Zamiejska 9': {'nr_zbiornika': 'D52510',
  'st_oddanej_do_pobranej': 1.0091666666666692},
 'Kłeckoska 65': {'nr_zbiornika': 'A67199',
  'st_oddanej_do_pobranej': 0.991983156530893},
 'Trzemeszeńska 4': {'nr_zbiornika': 'A97800',
  'st_oddanej_do_pobranej': 0.977653631284919},
 'Kłeckoska 62': {'nr_zbiornika': 'E45411',
  'st_oddanej_do_pobranej': 0.9570648968127788},
 'Roosevelta 10': {'nr_zbiornika': 'K86689',
  'st_oddanej_do_pobranej': 0.6594669117647077},
 'Skrajna 12': {'nr_zbiornika': 'G86926',
  'st_oddanej_do_pobranej': 0.7535885167464141},
 'Żerniki 18': {'nr_zbiornika': 'C87557',
  'st_oddanej_do_pobranej': 0.522388059701493},
 'Skrajna 98': {'nr_zbiornika': 'D52834',
  'st_oddanej_do_pobranej': 0.9315908148948064},
 'Wrzesińska 44': {'nr_zbiornika': 'F99073',
  'st_oddanej_do_pobranej': 1.0144927536231882},
 'Pomowska 54': {'nr_zbiornika': 'J78669', 'st_oddanej_do_pobranej': 1.09375},
 'Ludwiczaka 28': {'nr_zbiornika': 'L13042',
  'st_oddanej_do_pobranej': 0.715613382899627},
 'Grodzka 26': {'nr_zbiornika': 'J70198',
  'st_oddanej_do_pobranej': 0.8454106280193243},
 'Leśna 26': {'nr_zbiornika': 'A66943',
  'st_oddanej_do_pobranej': 0.8235294117647088},
 'Pustachowska 12': {'nr_zbiornika': 'C21826',
  'st_oddanej_do_pobranej': 0.4628099173553715},
 'Malinowa 7': {'nr_zbiornika': 'G53238',
  'st_oddanej_do_pobranej': 0.6862745098039224},
 'Konwaliowa 8': {'nr_zbiornika': 'L46190',
  'st_oddanej_do_pobranej': 0.6081081081081081},
 'Świerkowa 11': {'nr_zbiornika': 'K82712',
  'st_oddanej_do_pobranej': 0.9821428571428572},
 'Kłeckoska 161': {'nr_zbiornika': 'I52856',
  'st_oddanej_do_pobranej': 0.9358288770053464},
 'Witkowska 78': {'nr_zbiornika': 'D27670',
  'st_oddanej_do_pobranej': 0.9277108433734906},
 'Kłeckoska 143': {'nr_zbiornika': 'G15696',
  'st_oddanej_do_pobranej': 0.7182835820895529},
 'Kwiatowa 34': {'nr_zbiornika': 'L84871',
  'st_oddanej_do_pobranej': 0.730550284629979},
 'Witkowska 234': {'nr_zbiornika': 'C33514',
  'st_oddanej_do_pobranej': 1.0174418604651163},
 'Północna 11': {'nr_zbiornika': 'F73434',
  'st_oddanej_do_pobranej': 0.5429808095068172},
 'Północna 34': {'nr_zbiornika': 'D62697',
  'st_oddanej_do_pobranej': 0.7064220183486226},
 'Kruszwicka 11': {'nr_zbiornika': 'J75541',
  'st_oddanej_do_pobranej': 1.0385756676557862},
 'Kawiary 23': {'nr_zbiornika': 'H39965',
  'st_oddanej_do_pobranej': 0.5922165820642973},
 'Piekary 23': {'nr_zbiornika': 'L31400',
  'st_oddanej_do_pobranej': 0.6481481481481494},
 'Wodna 11': {'nr_zbiornika': 'F74948',
  'st_oddanej_do_pobranej': 0.9292035398230084},
 'Asnyka 16': {'nr_zbiornika': 'F91858',
  'st_oddanej_do_pobranej': 0.7865168539325821},
 'Batalionowa 67': {'nr_zbiornika': 'F77036',
  'st_oddanej_do_pobranej': 0.6862745098039202},
 'Boczna 35': {'nr_zbiornika': 'J36182',
  'st_oddanej_do_pobranej': 0.4955290611028309},
 'Bociania 23': {'nr_zbiornika': 'F80908',
  'st_oddanej_do_pobranej': 0.8454106280193256},
 'Cienista 29': {'nr_zbiornika': 'I10573',
  'st_oddanej_do_pobranej': 1.0327868852459021},
 'Kawiary 45': {'nr_zbiornika': 'A48235',
  'st_oddanej_do_pobranej': 0.8663366336633667},
 'Bielska 38': {'nr_zbiornika': 'I55169',
  'st_oddanej_do_pobranej': 0.8495145631067955},
 'Makowa 34': {'nr_zbiornika': 'L83737',
  'st_oddanej_do_pobranej': 1.0515021459227463},
 'Moiła 12': {'nr_zbiornika': 'I97997',
  'st_oddanej_do_pobranej': 0.8092485549132945},
 'Hetmańska 4': {'nr_zbiornika': 'F50404',
  'st_oddanej_do_pobranej': 0.8860759493670884},
 'Królewska 12': {'nr_zbiornika': 'K69097',
  'st_oddanej_do_pobranej': 0.8242753623188425},
 'Bartnicza 2': {'nr_zbiornika': 'A44067',
  'st_oddanej_do_pobranej': 0.919324577861165},
 'Wiejska 45': {'nr_zbiornika': 'I57818',
  'st_oddanej_do_pobranej': 1.0275229357798146},
 'Pustachowska 34': {'nr_zbiornika': 'D90466',
  'st_oddanej_do_pobranej': 0.7994923857867989},
 'Pustachowska 15': {'nr_zbiornika': 'E75557',
  'st_oddanej_do_pobranej': 0.7016908212560403},
 'Wiosny Lódów 8': {'nr_zbiornika': 'J84932',
  'st_oddanej_do_pobranej': 0.9003215434083597},
 'Topolowa  16': {'nr_zbiornika': 'C80200',
  'st_oddanej_do_pobranej': 0.6535269709543554},
 'Ochuckiego 1': {'nr_zbiornika': 'C76528',
  'st_oddanej_do_pobranej': 0.9597806215722139},
 'Lipowa 11': {'nr_zbiornika': 'L42565',
  'st_oddanej_do_pobranej': 0.9794776119402994},
 'Konwaliowa 12': {'nr_zbiornika': 'I78320',
  'st_oddanej_do_pobranej': 0.9535433070866165},
 'Tulipanowq 38': {'nr_zbiornika': 'A95614',
  'st_oddanej_do_pobranej': 0.7016908212560403},
 'Agrestowa 22': {'nr_zbiornika': 'C22431',
  'st_oddanej_do_pobranej': 0.6690140845070423},
 'Dojazdowa 15': {'nr_zbiornika': 'B33806',
  'st_oddanej_do_pobranej': 0.8776595744680851},
 'Okopowa 6': {'nr_zbiornika': 'L75758',
  'st_oddanej_do_pobranej': 0.77490774907749},
 'Kręta 24': {'nr_zbiornika': 'C59395',
  'st_oddanej_do_pobranej': 1.0144927536231891},
 'Podkomorska 4': {'nr_zbiornika': 'G66283',
  'st_oddanej_do_pobranej': 0.9865196078431336},
 'Jesionowa 8': {'nr_zbiornika': 'B26794',
  'st_oddanej_do_pobranej': 0.7469512195121952},
 'Grodziska 39': {'nr_zbiornika': 'C18591',
  'st_oddanej_do_pobranej': 0.8413461538461529},
 'Makowa 20': {'nr_zbiornika': 'I83345',
  'st_oddanej_do_pobranej': 0.9240924092409237},
 'Warzywna 1': {'nr_zbiornika': 'L96003',
  'st_oddanej_do_pobranej': 0.6796116504854353},
 'Wierzbiczany 71': {'nr_zbiornika': 'F20762',
  'st_oddanej_do_pobranej': 0.5362903225806456},
 'Akacjowa 3': {'nr_zbiornika': 'A77095',
  'st_oddanej_do_pobranej': 0.6265984654731442},
 'Myśliwiecka 25': {'nr_zbiornika': 'C29025',
  'st_oddanej_do_pobranej': 0.6853369763205823},
 'Poznańśka 245': {'nr_zbiornika': 'H68690',
  'st_oddanej_do_pobranej': 0.7850467289719618},
 'Kiszkowska 4': {'nr_zbiornika': 'E77081',
  'st_oddanej_do_pobranej': 1.055276381909547}}

In [14]:
generate_quotient_timeseries_df()

,adres,2021-11,pobrana_2021-11,deklarowana_2021-11,2021-10,pobrana_2021-10,deklarowana_2021-10,2021-09,pobrana_2021-09,deklarowana_2021-09,2021-08,pobrana_2021-08,deklarowana_2021-08,2021-07,pobrana_2021-07,deklarowana_2021-07,2021-06,pobrana_2021-06,deklarowana_2021-06
0,Roosevelta 164,0.818182,11.0000,9.0,0.827273,11.0000,9.1,0.866667,12.0000,10.4,0.791667,12.0000,9.5,0.900000,10.0000,9.0,0.800000,10.0000,8.0
1,Paczkowskiego 6,1.307692,6.5000,8.5,1.200000,6.5000,7.8,1.211735,6.2720,7.6,1.307398,6.2720,8.2,1.047120,9.0725,9.5,0.837696,9.0725,7.6
2,Kłeckoska 84,0.596178,16.7735,10.0,0.667720,16.7735,11.2,0.515050,21.1630,10.9,0.519775,21.1630,11.0,0.521184,17.0765,8.9,0.661728,17.0765,11.3
3,Zamiejska 13,0.961599,7.9035,7.6,0.873031,7.9035,6.9,0.915705,7.9720,7.3,0.878073,7.9720,7.0,0.733289,10.6370,7.8,0.658080,10.6370,7.0
4,Kłeckoska 96 A,0.567811,17.6115,10.0,0.516708,17.6115,9.1,0.219552,43.7255,9.6,0.196682,43.7255,8.6,0.685291,14.3005,9.8,0.615363,14.3005,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Wierzbiczany 71,0.571429,17.5000,10.0,0.554286,17.5000,9.7,0.544444,18.0000,9.8,0.600000,18.0000,10.8,0.554286,17.5000,9.7,0.497143,17.5000,8.7
139,Akacjowa 3,0.666667,10.5000,7.0,0.809524,10.5000,8.5,0.666667,10.5000,7.0,0.752381,10.5000,7.9,0.790000,10.0000,7.9,0.820000,10.0000,8.2
140,Myśliwiecka 25,0.677419,15.5000,10.5,0.754839,15.5000,11.7,0.580645,15.5000,9.0,0.761290,15.5000,11.8,0.726667,15.0000,10.9,0.613333,15.0000,9.2
141,Poznańśka 245,0.827586,14.5000,12.0,0.737931,14.5000,10.7,0.733333,15.0000,11.0,0.880000,15.0000,13.2,0.800000,14.5000,11.6,0.848276,14.5000,12.3
142,Kiszkowska 4,1.090909,5.5000,6.0,1.090909,5.5000,6.0,0.950000,6.0000,5.7,0.966667,6.0000,5.8,1.166667,6.0000,7.0,1.116667,6.0000,6.7

In [15]:
graph_quotient_timeseries(generate_quotient_timeseries_df(), "Grodzka 6")

{'name': 'quotient_timeseries',
 'title': 'Stosunek wody zadeklarowanej jako ścieki do pobranej na przestrzeni miesięcy',
 'data': [{'date': '2021-11', 'quotient': 0.6060606060606061},
  {'date': '2021-10', 'quotient': 0.5818181818181818},
  {'date': '2021-09', 'quotient': 0.6},
  {'date': '2021-08', 'quotient': 0.53125},
  {'date': '2021-07', 'quotient': 0.74},
  {'date': '2021-06', 'quotient': 0.6799999999999999}]}

In [16]:
graph_amount_timeseries(generate_quotient_timeseries_df(), "Grodzka 6")

{'name': 'quotient_timeseries',
 'title': 'm^3 wody zadeklarowanej jako ścieki i pobranej na przestrzeni miesięcy',
 'data': [{'date': '2021-11', 'pobrana': 16.5, 'deklarowana': 10.0},
  {'date': '2021-10', 'pobrana': 16.5, 'deklarowana': 9.6},
  {'date': '2021-09', 'pobrana': 16.0, 'deklarowana': 9.6},
  {'date': '2021-08', 'pobrana': 16.0, 'deklarowana': 8.5},
  {'date': '2021-07', 'pobrana': 15.0, 'deklarowana': 11.1},
  {'date': '2021-06', 'pobrana': 15.0, 'deklarowana': 10.2}]}